<div class="col m12" >
	<div class="row">
		<div class="col m10 offset-m1 col s6">
			<h3>Explore Career Paths as a {{careers.response.jobTitle | uppercase}}</h3>
			<ul>
				<li>Low Salary: {{careers.response.payLow | currency}}</li>
				<li>Median Salary: {{careers.response.payMedian | currency}}</li>
				<li>High Salary: {{careers.response.payHigh | currency}}</li>
			</ul>
			<p>Related Careers:</p>
			<div ng-repeat="career in careers.response.results">
				<ul>
					<li>Job Title: <a href="" ng-click="submitProgressTwo(career.nextJobTitle)">{{career.nextJobTitle | uppercase}}</a></li>
					<li>Frequency: {{career.frequencyPercent | number:2}}%</li>
					<li>National Jobs: {{career.nationalJobCount | number}}</li>
					<li>Median Salary: {{career.medianSalary | currency}}</li>
				</ul>
				
			</div>
		</div>
	</div>
</div>