<div class="row">	
	<div class="col m8 col s12 card grey lighten-5" ng-controller="JobDetailCtrl">
		<h3>{{detail.company}}</h3>
		<div class="col m6 left">
			<ul>
				<li><span class="oswald">Job Title:</span> {{detail.jobtitle}}</li>
				<li><span class="oswald">Location:</span> {{detail.location}}</li>
				<li><span class="oswald">Job Description:</span> </li>
				
			</ul>
		</div>
		<div class="col m6 right">
			<ul>
				<li ng-show="detail.status"><span class="oswald">Job Status:</span> {{detail.status}}</li>
				<li ng-show="detail.duedate"><span class="oswald">Due Date:</span> {{detail.duedate | date}}</li>
				<li ng-show="detail.contact"><span class="oswald">Contact:</span> {{detail.contact}}</li>
			</ul>
		</div>
		<div class="col m12">
			<ul>
				<li>{{detail.description}}</li>
				<li><a href ng-click="newTab(job.url)">View Full Posting</a></li>
			</ul>
		</div>
		<div class="card teal lighten-5 col m12">
			<ul>
				<li ng-show="detail.comments"><span class="oswald">Comments:</span></li>
				<li ng-show="detail.comments">{{detail.comments}}</li>
			</ul>
		</div>
	</div>
	<div class="col m4 ">
		<form id="jobstatus" ng-submit="updateJobInfo()">
			<h3 class="center-align">Edit Job Details:</h3>
			<input-field>
				<select ng-model="formData.status" ng-options="status.name for status in statuses" material-select watch>
			        <!-- <option ng-repeat="value in statuses">{{value}}</option> -->
			    </select>
		    </input-field>
		    <input-field>
		    	<input type="date" class="datepicker" ng-model="formData.duedate">
		    </input-field>
		   <!--  <input-field>
				<label class="cookie">Due Date:</label>
				<input input-date
				    type="date"
				    name="duedate"
				    id="duedate"
				    ng-model="formData.duedate"
				    container=""
				    format="dd/mm/yyyy"
				    months-full="{{ month }}"
				    months-short="{{ monthShort }}"
				    weekdays-full="{{ weekdaysFull }}"
				    weekdays-short="{{ weekdaysShort }}"
				    weekdays-letter="{{ weekdaysLetter }}"
				    disable="disable"
				    min="{{ minDate }}"
				    max="{{ maxDate }}"
				    today="today"
				    clear="clear"
				    close="close"
				    select-years="15"
				    on-start="onStart()"
				    on-render="onRender()"
				    on-open="onOpen()"
				    on-close="onClose()"
				    on-set="onSet()"
				    on-stop="onStop()" />
		    </input-field> -->
		    <input-field>
			    <label class="cookie">Contact:</label>
			    <input type="text" ng-model="formData.contact" length="100">
		    </input-field>
		    <input-field>
			    <label class="cookie">Comments:</label>
		    	<textarea class="materialize-textarea" ng-model="formData.comment"></textarea>
		    </input-field>
		    <div class="center-align">
		    	<button type="submit", class="btn red lighten-2", value="submit" message="{{message}}" duration="1000" toast='click'>Update Info</button>
	    	</div>
		</form>
	</div>
</div>

