<div class="col m12" ng-controller="JobsCtrl">
	<div class="row">
		<div class="col m10 offset-m1 col s6">
			<h3>Job Search Results:</h3>
			<div class="card grey lighten-5" ng-repeat="job in jobs">
				<ul>
					<li><a href ng-click="newTab(job.url)">{{job.title}}</a> @ <a href ng-click="searchCompanyTwo(job.company, job.location)">{{job.company}}</a></li>
					<li>{{job.location}}</li>
					<li>Posted On: {{job.createdAt}}</li>
					<li><em>{{job.description | limitTo: 500}}</em></li>
					<button class="btn red lighten-2" ng-click="saveJob(job.title, job.company, job.location, job.description, job.url)">Save Job</button>
				</ul>
				
			</div>
		</div>
	</div>
</div>