<div class="row colorbg">
	<div class="col s10 offset-s1 m6 offset-m3 card grey lighten-5">
		<div>
			<form class="register" action="/register" method="POST">
				<h1 class="center-align login">Register</h1>
				<div class="form-group login center-align input-field">
					<input class="form-control login center-align", id="username", type="text", name="username", placeholder="Create Username", required, autofocus>
				</div>
				<div class="form-group login center-align input-field">
					<input class="form-control center-align", id="password", type="password", name="password", placeholder="Create Password", required>
				</div>
				<div class="form-group login center-align input-field">
					<input class="form-control center-align", id="firstName", type="text", name="firstName", placeholder="Enter First Name", required>
				</div>
				<div class="form-group login center-align input-field">
					<input class="form-control center-align", id="lastName", type="text", name="lastName", placeholder="Enter Last Name", required>
				</div>
				<div class="form-group login center-align input-field">
					<input class="form-control center-align", id="email", type="email", name="email", placeholder="Enter Email Address", required>
				</div>
				<div class="center-align">
					<button class="center-align btn login", type="submit">Register</button>
				</div>
			</form>		
		</div>
	</div>
</div>

<script>
	$(document).ready(function() {
		$('#description').val('New Text');
  		$('#description').trigger('autoresize');
	});
</script>