@import url(https://fonts.googleapis.com/css?family=Cookie);

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.login {
	margin: 10px;
}

.card {
	padding: 8px 20px;
}

.card * {
	margin-top: 8px;
}

h3 {
	font-family: "Cookie";
	color: #423;
}

.cookie {
	font-family: "Cookie";
	color: #423;
	font-size: 1.7em;
}

