@import url(https://fonts.googleapis.com/css?family=Cookie);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,900);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Oswald);

@import url(https://fonts.googleapis.com/css?family=Passion+One:400,700);


body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.login {
	margin: 10px;
}

.card {
	padding: 20px 20px !important;
	margin-top: 20px !important;
}

.card * {
	margin-top: 8px;
}

h1, h2, h3 {
	font-family: "Oswald";
	color: #423;
	font-size: 0.4em;
}

.cookie {
	font-family: "Oswald";
	color: #423;
	font-size: 1.3em;
}

.oswald {
	font-family: "Oswald";
}

p.oswald {
	font-size: 1.2em;
}

.passion {
	font-family: "Passion One";
	color: #e57373;
	text-shadow: 2px 2px 2px #222;
	font-size: 8em;
}

.passion2 {
	font-family: "Passion One";
	color: #fff;
	text-shadow: 3px 3px 3px #222;
}

.card form {
	padding: 20px;
}

.titlelogo {
	color: white;
	margin: 0 auto;
	padding-top: 6px;
}

.tl2 {
	color: #423;
}

.tl3 {
	color: #e57373;
}

.colorbg {
	background-color: #fffde7;
}

.landing {
	background: url('../headersmall.png');
	height: 600px;
}

.header {
	margin-top: 150px;
}

.start {
	margin: 30px;
}

.banner {
	margin-bottom: 1px !important;

}

footer {
	margin-top: 0 !important;
}